.card{
 position: relative;
}

.UpdateDeleteIcon{
 position: absolute;
 top: 170px;
 right: 10px;
}
#btn-link{
  border: 2px solid #007bff;
  text-decoration: none;
}
#home-display{
  display: none;
}
#About-display{
  display: none;
}
.card-text{
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.tagNew{
  width: 500px;
}
.card-body{
  height: 200px;

}
#OpenModal{
  display: none;
}
  

